/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

html {
  scroll-behavior: smooth;
}

.page-header {
  margin: 100px;
}

.page-header h1 {
  text-align: center;
  font-size: 30px;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.container .main p.text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Custom Style */
.custom-layout,
.custom-card {
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  max-width: 75rem;
  max-height: 19rem;
  margin: 6rem auto 0;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  border-style: solid;
}

.app-tabs {
  background-color: var(--vp-c-bg-soft);
  color: var(--vp-c-text-1);
  padding: 1.5rem;
  gap: 1rem;
  max-width: 90%;
  margin: 6rem auto 0;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
}

.custom-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
}

.app-tabs {
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 80px;
}

.section h1 {
  text-align: center;
  color: var(--vp-home-hero-name-background);
  font-size: 2.2rem;
  font-weight: 600;
  margin: 50px;
  margin-top: 80px;
  justify-content: center;
}

.custom-layout h2 {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  border: var(--vp-c-brand);
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
}

.custom-layout h2:hover {
  color: var(--vp-c-brand);
}

.custom-layout h2:hover::after {
  content: "->";
}

.custom-layout .btn {
  display: flex;
  background-color: var(--vp-button-brand-bg);
  color: var(--vp-button-brand-text);
  border-radius: 20px;
  padding: 0.5rem 1.4rem;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

@media only screen and (max-width: 1200px) {
  .punko,
  .nihongo {
    background-image: none !important;
  }
}

.punko {
  background-image: url('../../projects/images/huggingface.gif');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 30% 100%;
}

.nihongo {
  background-image: url('../../projects/images/nihongo-multiple.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 40% 100%;
}

.custom-layout .btn-disabled {
  border-color: var(--vp-c-brand-dark);
  color: var(--vp-c-brand-dark);
  border-radius: 20px;
  padding: 0.5rem 1.4rem;
  border-style: solid;
  border-color: var(--vp-c-brand);
  margin-left: 10px;
  justify-content: center;
}

.custom-layout .btn:hover {
  background-color: var(--vp-c-brand-lighter);
}

.custom-layout .btn-disabled:hover {
  background-color: var(--vp-c-brand-lighter);
}

.custom-layout .btn-disabled:hover p {
  color: white;
}

.button-section {
  display: flex;
  flex-direction: row;
}

.job-content li:before {
  content: '❖';
  margin-right: 15px;
}

.job-content li {
  padding: 6px;
}

.profile {
  border-style: solid;
}

.contact {
  justify-content: center;
  align-items: center;
}